
body {
  font-family: 'Cairo', sans-serif;
  direction: rtl;
  text-align: right;
  background-color: #ffffff;
  color: #333;
}

.underline {
  width: 80px;
  height: 4px;
  background-color: #C5A059;
  margin-top: 10px;
}
