@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

body {
  font-family: 'Cairo', sans-serif;
  direction: rtl;
  text-align: right;
  background-color: #ffffff;
  color: #333;
}

.underline {
  width: 80px;
  height: 4px;
  background-color: #C5A059;
  margin-top: 10px;
}
